.signup-wrapper{
    height: 450px;
    /* border: black 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  9px 9px 20px #d4d4d4,
}