/* .auth-container{
    max-width:500px;
    
} */

.login-wrapper{
    height: 350px;
    border-right: #dddddd 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    background: linear-gradient(145deg, #f0f0f0, #d7d7d7);
    box-shadow:  9px 9px 13px #dddcdc,
                 -9px -9px 13px #f9f9f9;

}

.form_control{
    border: none;
    outline: none;
}